services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspaces:cached
    command: sleep infinity
    ports:
      - "7253:3000"
    networks:
      - dev
    depends_on:
      - db

  db:
    image: postgres:alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: badminton
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - dev

  pgadmin:
    image: dpage/pgadmin4:latest
    restart: unless-stopped
    ports:
      - "7254:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@bsl.fr
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: "False"
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"
    networks:
      - dev
    depends_on:
      - db

networks:
  dev:

volumes:
  postgres-data:
