version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspaces/${localWorkspaceFolderBasename}:cached
    network_mode: service:db # Permet à l'app d'accéder à la DB via 'localhost'
    command: sleep infinity # Garde le conteneur en vie

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: badminton
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
